<style>
  img {
    border-radius: 10%;
  }
</style>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/admin/dashboard']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">User</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <button
          style="margin-right: 8px; margin-bottom: 12px"
          type="button"
          class="btn btn-primary rounded-pill"
          (click)="openModal(template)"
        >
          <i class="bi bi-plus-lg"></i>
          Add Admin
        </button>
        <!-- <c-alert
          [(visible)]="visible"
          [dismissible]="dismissible"
          color="warning"
          fade
          *ngIf="visible"
        >
          <strong>Go right ahead</strong> and click that dismiss over there on
          the right.
        </c-alert> -->
        <div id="liveAlertPlaceholder"></div>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Add User</h4>
            <button
              type="button"
              class="btn-close close pull-right"
              aria-label="Close"
              (click)="modalRef?.hide()"
            >
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="formAdd"
              (ngSubmit)="doAddUser()"
              class="row g-3"
            >
              <div class="col-md-12">
                <label for="inputUsername" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputUsername"
                  formControlName="username"
                  placeholder="Input Your Username"
                  name="username"
                  [ngClass]="
                    errorControl['username'].valid
                      ? 'is-valid'
                      : errorControl['username'].dirty ||
                        errorControl['username'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['username'].dirty ||
                      errorControl['username'].touched) &&
                    errorControl['username'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['username'].errors['required']"
                  >
                    Please enter your username
                  </div>
                </ng-container>
              </div>

              <div class="col-md-12">
                <label for="inputEmail" class="form-label"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  formControlName="email"
                  name="email"
                  placeholder="Input Your Email"
                  [ngClass]="
                    errorControl['email'].valid
                      ? 'is-valid'
                      : errorControl['email'].dirty ||
                        errorControl['email'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['email'].dirty ||
                      errorControl['email'].touched) &&
                    errorControl['email'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['email'].errors['required']"
                  >
                    Please enter your email
                  </div>
                </ng-container>
              </div>

              <div class="col-md-6">
                <label for="inputNoTelp" class="form-label">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputNoTelp"
                  formControlName="noTelp" 
                  placeholder="08xxxxxxx"
                  [ngClass]="
                    errorControl['noTelp'].valid
                      ? 'is-valid'
                      : errorControl['noTelp'].dirty ||
                        errorControl['noTelp'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['noTelp'].dirty ||
                      errorControl['noTelp'].touched) &&
                    errorControl['noTelp'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['noTelp'].errors['required']"
                  >
                    Please enter your phone number
                  </div>
                </ng-container>
              </div>
              <div class="col-md-6">
                <label for="inputPassword" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  formControlName="password"
                  placeholder="input your password"
                  [ngClass]="
                    errorControl['password'].valid
                      ? 'is-valid'
                      : errorControl['password'].dirty ||
                        errorControl['password'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['password'].dirty ||
                      errorControl['password'].touched) &&
                    errorControl['password'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['password'].errors['required']"
                  >
                    Please enter your password
                  </div>
                </ng-container>
              </div>

              <div class="col-12">
                <label for="inputRole" class="form-label">Role</label>
                <!-- <select for="inputRole" class="form-select">
                  <option disabled>Select Role</option>
                  <option>admin</option>
                  <option>user</option>
                </select> -->
                <input
                  type="text"
                  class="form-control"
                  id="inputRole"
                  formControlName="role"
                  name="role"
                  value="admin"
                  readonly
                />
                <ng-container
                  *ngIf="
                    (errorControl['is_admin'].dirty ||
                      errorControl['is_admin'].touched) &&
                    errorControl['is_admin'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['is_admin'].errors['required']"
                  >
                    Please enter your role
                  </div>
                </ng-container>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  (click)="modalRef?.hide()"
                >
                  Back
                </button>
                <button
                  type="submit"
                  id="liveAlertBtn"
                  class="btn btn-primary"
                  [disabled]="!formAdd.valid"
                  data-bs-dismiss="modal"
                  (click)="modalRef?.hide()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <div class="card recent-sales overflow-auto">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              <li><a class="dropdown-item" href="#">Admin Only</a></li>
              <li><a class="dropdown-item" href="#">User Only</a></li>
              <li><a class="dropdown-item" href="#">All Roles</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Users <span>| All Time</span></h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Role</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let user of users; let i = index">
                  <tr>
                    <th scope="row">
                      {{ i + 1 }}
                    </th>
                    <td>{{ user.username }}</td>
                    <td class="text-primary">
                      <a href="#" class="text-primary">{{ user.email }}</a>
                    </td>
                    <td>{{ user.noTelp }}</td>
                    <td>{{ user.is_admin ? "Admin" : "User" }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
