<style>
  img {
    border-radius: 10%;
  }
</style>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Transaction</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/admin/dashboard']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Transaction</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="#">By Name Ascending</a></li>
                <li>
                  <a class="dropdown-item" href="#">By Name Descending</a>
                </li>
              </ul>
            </div>
            <h5 class="card-title">
              Transaction <span>| All Transactions</span>
            </h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">ID Transaction</th>
                  <!-- <th scope="col">ID User</th> -->
                  <th scope="col">Doctor Name</th>
                  <th scope="col">Transaction Date</th>
                  <th scope="col">Total Price</th>
                  <!-- <th scope="col">Status</th> -->
                  <!-- <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let isiTransaction of transactions; let i = index">
                  <th scope="row">
                    {{ i + 1 }}
                  </th>
                  <td>{{ isiTransaction.transaksi_id }}</td>
                  <!-- <td>{{ isiTransaction.user.user_id }}</td> -->
                  <td>{{ isiTransaction.doctor.namaDokter }}</td>
                  <td>{{ isiTransaction.tanggalTransaksi }}</td>
                  <td>
                    {{
                      isiTransaction.totalHarga
                        | currency : "Rp " : "symbol" : "3.0"
                    }}
                  </td>
                  <!-- <td>
                    <span
                      class="badge text-bg-success"
                      [ngClass]="
                        isiTransaction.status
                          ? 'text-bg-success'
                          : 'text-bg-danger'
                      "
                    >
                      {{ isiTransaction.status ? "Paid" : "Unpaid" }}
                    </span>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
