<section class="min-vh-100">
  <style>
    .bg-image-vertical {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: right center;
      background-size: auto 100%;
    }

    button {
      background-color: #0046e6;
    }

    button:hover {
      background-color: #0046e6;
    }

    button:disabled {
      background-color: rgb(156, 153, 153);
    }

    input,
    input::-webkit-input-placeholder {
      font-size: 15px;
      line-height: 2;
    }
    label {
      letter-spacing: 0.5px;
    }
    p {
      letter-spacing: 0.5px;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="p-5 ms-xl-4" style="margin-bottom: 40px; margin-top: 30px">
          <img
            src="../../../assets/logo-astrapay-type.png"
            alt="Login image"
            style="width: 120px"
          />
        </div>

        <div
          class="d-inline-block align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
        >
          <form
            style="width: 23rem"
            [formGroup]="formLogin"
            (ngSubmit)="doLogin()"
          >
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
              Log in
            </h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18"
                >Username</label
              >
              <input
                type="text"
                id="form2Example18"
                class="form-control form-control-lg"
                placeholder="Input Your Username"
                formControlName="username"
                name="username"
                [ngClass]="
                  errorControl['username'].valid
                    ? 'is-valid'
                    : errorControl['username'].dirty ||
                      errorControl['username'].touched
                    ? 'is-invalid'
                    : ''
                "
              />
              <ng-container
                *ngIf="
                  (errorControl['username'].dirty ||
                    errorControl['username'].touched) &&
                  errorControl['username'].errors
                "
              >
                <div
                  *ngIf="errorControl['username'].errors['required']"
                  class="text-danger"
                >
                  Please enter your username.
                </div>
              </ng-container>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Password</label>
              <input
                type="password"
                id="form2Example28"
                class="form-control form-control-lg"
                placeholder="Input your password here"
                formControlName="password"
                name="password"
                [ngClass]="
                  errorControl['password'].valid
                    ? 'is-valid'
                    : errorControl['password'].dirty ||
                      errorControl['password'].touched
                    ? 'is-invalid'
                    : ''
                "
              />
              <ng-container
                *ngIf="
                  (errorControl['password'].dirty ||
                    errorControl['password'].touched) &&
                  errorControl['password'].errors
                "
              >
                <div
                  *ngIf="errorControl['password'].errors['required']"
                  class="text-danger"
                >
                  Please enter your password.
                </div>
              </ng-container>
            </div>

            <div class="d-grid pt-1 mb-4">
              <button
                id="myLogin"
                class="btn btn-secondary btn-lg btn-block fw-normal"
                style="color: white"
                type="submit"
                style="letter-spacing: 1px"
                [disabled]="!formLogin.valid"
              >
                Login
              </button>
            </div>

            <ng-container *ngIf="error">
              <div>
                {{ error }}
              </div>
            </ng-container>

            <!-- <p class="small mb-5 pb-lg-2">
              <a class="text-muted" href="#!">Forgot password?</a>
            </p> -->
            <!-- <p>
              Don't have an account?
              <a [routerLink]="['/register']">Register here</a>
            </p> -->
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="../../../assets/loginpage3.png"
          alt="Login image"
          class="w-100 vh-100"
          style="object-fit: cover; object-position: left"
        />
      </div>
    </div>
  </div>
</section>
