<section
  class="min-vh-100 bg-image"
  style="
    background-image: url('assets/img/bg-register.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  "
>
  <style>
    .gradient-custom-3 {
      /* fallback for old browsers */
      background: #0046e6;

      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(
        to right,
        rgba(3, 7, 139, 0.5),
        rgba(48, 31, 144, 0.5)
      );

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(
        to right,
        rgba(0, 44, 133, 0.5),
        rgba(51, 179, 243, 0.5)
      );
    }

    button {
      background-color: #0046e6;
      color: white !important;
    }
    input,
    input::-webkit-input-placeholder {
      font-size: 15px;
      line-height: 2;
    }
  </style>
  <div calss="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div
            class="card"
            style="
              border-radius: 15px;
              margin-top: 50px;
              margin-bottom: 50px;
              letter-spacing: 1px;
            "
          >
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign Up</h2>
              <form [formGroup]="formRegister" (ngSubmit)="doRegister()">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg"
                    >Username</label
                  >
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    formControlName="username"
                    placeholder="Input Your Username"
                    name="username"
                    [ngClass]="
                      errorControl['username'].valid
                        ? 'is-valid'
                        : errorControl['username'].dirty ||
                          errorControl['username'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['username'].dirty ||
                        errorControl['username'].touched) &&
                      errorControl['username'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['username'].errors['required']"
                    >
                      Please enter your username.
                    </div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg"
                    >Your Email</label
                  >
                  <input
                    type="email"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    formControlName="email"
                    placeholder="Input Your Email"
                    name="email"
                    [ngClass]="
                      errorControl['email'].valid
                        ? 'is-valid'
                        : errorControl['email'].dirty ||
                          errorControl['email'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['email'].dirty ||
                        errorControl['email'].touched) &&
                      errorControl['email'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['email'].errors['required']"
                    >
                      Please enter your email.
                    </div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg"
                    >Your Email</label
                  >
                  <input
                    type="number"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    formControlName="noTelp"
                    placeholder="08xxxxxxxxx"
                    name="noTelp"
                    [ngClass]="
                      errorControl['noTelp'].valid
                        ? 'is-valid'
                        : errorControl['noTelp'].dirty ||
                          errorControl['noTelp'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['noTelp'].dirty ||
                        errorControl['noTelp'].touched) &&
                      errorControl['noTelp'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['noTelp'].errors['required']"
                    >
                      Please enter your phone number.
                    </div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg"
                    >Password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    formControlName="password"
                    placeholder="password"
                    name="password"
                    [ngClass]="
                      errorControl['password'].valid
                        ? 'is-valid'
                        : errorControl['password'].dirty ||
                          errorControl['password'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['password'].dirty ||
                        errorControl['password'].touched) &&
                      errorControl['password'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['password'].errors['required']"
                    >
                      Please enter your password.
                    </div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg"
                    >Repeat your password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    formControlName="confirmPassword"
                    placeholder="repeat password"
                    name="confirmPassword"
                    [ngClass]="
                      errorControl['confirmPassword'].valid
                        ? 'is-valid'
                        : errorControl['confirmPassword'].dirty ||
                          errorControl['confirmPassword'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container *ngIf="!confirmPassword">
                    <div class="text-danger">Password Different.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg"
                    >Role</label
                  >
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    formControlName="role"
                    placeholder="Input Your Role"
                    name="role"
                    [ngClass]="
                      errorControl['role'].valid
                        ? 'is-valid'
                        : errorControl['role'].dirty ||
                          errorControl['role'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['role'].dirty ||
                        errorControl['role'].touched) &&
                      errorControl['role'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['role'].errors['required']"
                    >
                      Please enter your role.
                    </div>
                  </ng-container>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in
                    <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center d-grid">
                  <button
                    type="submit"
                    class="btn btn-secondary btn-lg btn-block gradient-custom-4 text-body"
                    style="color: white"
                    [disabled]="!formRegister.valid || !confirmPassword"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Already have an account?
                  <a href="./login" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
