<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/dashboard']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-grid"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-heading">Manage Application</li>

    <!-- <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/brand']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-patch-check"></i><span>Brand</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/category']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-menu-button-wide"></i><span>Category Doctor</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/diet-type']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-heart"></i><span>Diet Type</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/doctor']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-boxes"></i><span>Doctor</span>
      </a>
    </li>

    <li class="nav-heading">Manage User</li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/transaction']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-cart2"></i><span>Users Transaction</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/users']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-person"></i><span>Users Data</span>
      </a>
    </li>

    <li class="nav-heading mt-100">Account</li>

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/settings']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-gear"></i><span>Settings</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="doClickLogout()">
        <i class="bi bi-box-arrow-left"></i> <span>Logout</span>
      </a>
    </li>
  </ul>
</aside>
