<style>
    img {
      border-radius: 10%;
    }
  </style>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Product</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin/dashboard']">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Product</li>
        </ol>
      </nav>
    </div>
    <section class="section dashboard">
      <div class="row">
        <div class="col-12">
          <button
            style="margin-right: 8px; margin-bottom: 12px"
            type="button"
            class="btn btn-primary rounded-pill"
            (click)="openModal(template)"
          >
            <i class="bi bi-plus-lg"></i>
            Add Doctor
          </button>
  
          <ng-template #template>
            <div class="modal-header">
              <h5 class="modal-title">Add Doctor</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="modalRef?.hide()"
              ></button>
            </div>
  
            <div class="modal-body">
              <form
                [formGroup]="formAddDoctor"
                (ngSubmit)="doAddDoctor()"
                class="row g-3"
              >
                <div class="col-md-12">
                  <label for="inputDoctorName" class="form-label"
                    >Doctor Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputDoctorName"
                    placeholder="Input doctor name"
                    formControlName="namaDokter"
                    name="namaDokter"
                    [ngClass]="
                      errorControl['namaDokter'].valid
                        ? 'is-valid'
                        : errorControl['namaDokter'].dirty ||
                          errorControl['namaDokter'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['namaDokter'].dirty ||
                        errorControl['namaDokter'].touched) &&
                      errorControl['namaDokter'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['namaDokter'].errors['required']"
                    >
                      Please enter the doctor name
                    </div>
                  </ng-container>
                </div>
  
                <div class="col-md-12">
                  <label for="inputGender" class="form-label"
                    >Gender</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputGender"
                    placeholder="Input gender"
                    formControlName="jenisKelamin"
                    name="jenisKelamin"
                    [ngClass]="
                      errorControl['jenisKelamin'].valid
                        ? 'is-valid'
                        : errorControl['jenisKelamin'].dirty ||
                          errorControl['jenisKelamin'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['jenisKelamin'].dirty ||
                        errorControl['jenisKelamin'].touched) &&
                      errorControl['jenisKelamin'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['jenisKelamin'].errors['required']"
                    >
                      Please enter the gender
                    </div>
                  </ng-container>
                </div>
  
                <div class="col-md-12">
                  <label for="inputHospitalOrigin" class="form-label"
                    >Hospital Origin</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputHospitalOrigin"
                    placeholder="Input hospital origin"
                    formControlName="asalRumahSakit"
                    name="asalRumahSakit"
                    [ngClass]="
                      errorControl['asalRumahSakit'].valid
                        ? 'is-valid'
                        : errorControl['asalRumahSakit'].dirty ||
                          errorControl['asalRumahSakit'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <ng-container
                    *ngIf="
                      (errorControl['asalRumahSakit'].dirty ||
                        errorControl['asalRumahSakit'].touched) &&
                      errorControl['asalRumahSakit'].errors
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="errorControl['asalRumahSakit'].errors['required']"
                    >
                      Please enter the hospital origin
                    </div>
                  </ng-container>
                </div>

                <div class="col-md-12">
                    <label for="inputSchedule" class="form-label"
                      >Schedule</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="inputSchedule"
                      placeholder="Input doctor schedule"
                      formControlName="jadwal"
                      name="jadwal"
                      [ngClass]="
                        errorControl['jadwal'].valid
                          ? 'is-valid'
                          : errorControl['jadwal'].dirty ||
                            errorControl['jadwal'].touched
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <ng-container
                      *ngIf="
                        (errorControl['jadwal'].dirty ||
                          errorControl['jadwal'].touched) &&
                        errorControl['jadwal'].errors
                      "
                    >
                      <div
                        class="text-danger"
                        *ngIf="errorControl['jadwal'].errors['required']"
                      >
                        Please enter the doctor schedule
                      </div>
                    </ng-container>
                  </div>
  
  
                <div class="col-md-12">
                  <label for="">Category</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="doctorCategory"
                    *ngIf="categoryList$ | async as doctorCategory"
                  >
                    <option
                      *ngFor="let item of doctorCategory"
                      [value]="item.kategori_id"
                    >
                      {{ item.nama_kategori }}
                    </option>
                  </select>
                </div>
  
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="modalRef?.hide()"
                  >
                    Back
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!formAddDoctor.valid"
                    (click)="modalRef?.hide()"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </ng-template>
  
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="#">By Name Ascending</a></li>
                  <li>
                    <a class="dropdown-item" href="#">By Name Descending</a>
                  </li>
                </ul>
              </div>
              <h5 class="card-title">Doctor <span>| All Doctor</span></h5>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID Doctor</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Hospital Origin</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let isiDoctor of doctor; let i = index">
                    <th scope="row">
                      {{ i + 1 }}
                    </th>
                    <td>{{ isiDoctor.dokter_id }}</td>
                    <td>{{ isiDoctor.namaDokter }}</td>
                    <td>{{ isiDoctor.jenisKelamin }}</td>
                    <td>{{ isiDoctor.asalRumahSakit }}</td>
                    <td>{{ isiDoctor.jadwal }}</td>
                    <td>{{ isiDoctor.doctorCategory.nama_kategori }}</td>
                    <td>
                      <button
                        style="margin-right: 8px"
                        type="button"
                        class="btn btn-outline-primary rounded-pill"
                        data-bs-toggle="modal"
                        (click)="openModal(template)"
                        (click)="doEditModal(isiDoctor)"
                      >
                        Edit
                      </button>
                      <ng-template #template>
                        <div class="modal-header">
                          <h5 class="modal-title">Edit Doctor</h5>
                          <button
                            type="button"
                            class="btn-close"
                            (click)="modalRef?.hide()"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form
                            [formGroup]="formEditDoctor"
                            (ngSubmit)="doEditDoctor()"
                            class="row g-3"
                          >
                            <div class="col-md-12">
                              <label for="inputDoctorName" class="form-label"
                                >Doctor Name</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputDoctorName"
                                placeholder="Input Doctor Name"
                                formControlName="namaDokter"
                              />
                            </div>
  
                            <div class="col-md-12">
                              <label for="inputGender" class="form-label"
                                >Gender</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputGender"
                                placeholder="Input Gender"
                                formControlName="jenisKelamin"
                              />
                            </div>
  
                            <div class="col-md-12">
                              <label for="inputHospitalOrigin" class="form-label"
                                >Hospital Origin</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="inputHospitalOrigin"
                                placeholder="Input Hospital Origin"
                                formControlName="asalRumahSakit"
                              />
                            </div>

                            <div class="col-md-12">
                                <label for="inputSchedule" class="form-label"
                                  >Schedule</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  id="inputSchedule"
                                  placeholder="Input Schedule"
                                  formControlName="jadwal"
                                />
                              </div>
  
                            <div class="col-md-12">
                              <label for="">Category</label>
                              <select
                                class="form-select"
                                aria-label="Default select example"
                                formControlName="doctorCategory"
                                *ngIf="categoryList$ | async as doctorCategory"

                              >
                                <option
                                  *ngFor="let item of doctorCategory"
                                  [value]="item.kategori_id"
                                >
                                  {{ item.nama_kategori }}
                                </option>
                              </select>
                            </div>
    
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="modalRef?.hide()"
                              >
                                Back
                              </button>
                              <button
                                type="submit"
                                class="btn btn-primary"
                                (click)="modalRef?.hide()"
                              >
                                Save Changes
                              </button>
                            </div>
                          </form>
                        </div>
                      </ng-template>
  
                      <button
                        type="submit"
                        class="btn btn-outline-danger rounded-pill"
                        data-bs-toggle="modal"
                        (click)="openModal(deleteModal)"
                        (click)="doDeleteModal(isiDoctor)"
                      >
                        Delete
                      </button>
                      <ng-template #deleteModal (ngSubmit)="doDeleteDoctor()">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete Doctor</h5>
                          <button
                            type="button"
                            class="btn-close"
                            aria-label="Close"
                            (click)="modalRef?.hide()"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <h6>Are you sure you want to delete this doctor?</h6>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="modalRef?.hide()"
                          >
                            Back
                          </button>
                          <button
                            type="submit"
                            class="btn btn-danger"
                            (click)="modalRef?.hide()"
                            (click)="doDeleteDoctor()"
                          >
                            Yes, I'm Sure.
                          </button>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
