<style>
  img {
    border-radius: 10%;
  }
</style>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Category</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/admin/dashboard']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Category</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <button
          style="margin-right: 8px; margin-bottom: 12px"
          type="button"
          class="btn btn-primary rounded-pill"
          (click)="openModal(template)"
        >
          <i class="bi bi-plus-lg"></i>
          Add Category
        </button>

        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title">Add Category</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="modalRef?.hide()"
            ></button>
          </div>
          <div class="modal-body">
            <form
              [formGroup]="formAdd"
              (ngSubmit)="doAddCategory()"
              class="row g-3"
            >
              <div class="col-md-12">
                <label for="inputCategoryName" class="form-label"
                  >Category Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputCategoryName"
                  placeholder="Input category name"
                  formControlName="nama_kategori"
                  name="nama_kategori"
                  [ngClass]="
                    errorControl['nama_kategori'].valid
                      ? 'is-valid'
                      : errorControl['nama_kategori'].dirty ||
                        errorControl['nama_kategori'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <ng-container
                  *ngIf="
                    (errorControl['nama_kategori'].dirty ||
                      errorControl['nama_kategori'].touched) &&
                    errorControl['nama_kategori'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['nama_kategori'].errors['required']"
                  >
                    Please enter the category name
                  </div>
                </ng-container>
              </div>
              <!-- <div class="col-12">
                <label for="inputCategoryImage" class="form-label">Image</label>
                <input
                  type="file"
                  class="form-control"
                  id="inputCategoryImage"
                  accept="image/png, image/jpeg, image/gif"
                  (change)="showPreview($event)"
                  placeholder="Input category image's link"
                  formControlName="categoryImage"
                  name="categoryImage"
                  [ngClass]="
                    errorControl['categoryImage'].valid
                      ? 'is-valid'
                      : errorControl['categoryImage'].dirty ||
                        errorControl['categoryImage'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <br />
                <ng-container
                  *ngIf="
                    (errorControl['categoryImage'].dirty ||
                      errorControl['categoryImage'].touched) &&
                    errorControl['categoryImage'].errors
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="errorControl['categoryImage'].errors['required']"
                  >
                    Please insert the category picture
                  </div>
                </ng-container>
                <ng-container *ngIf="image">
                  <img
                    src="{{ image }}"
                    alt="Category Image"
                    width="200"
                    height="200"
                  />
                </ng-container>
              </div> -->

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="modalRef?.hide()"
                >
                  Back
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!formAdd.valid"
                  (click)="modalRef?.hide()"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>

        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="#">By Name Ascending</a></li>
                <li>
                  <a class="dropdown-item" href="#">By Name Descending</a>
                </li>
              </ul>
            </div>
            <h5 class="card-title">Category <span>| All Categories</span></h5>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">ID Category</th>
                  <th scope="col">Category Name</th>
                  <!-- <th scope="col">Image</th> -->
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let isiCategory of category; let i = index">
                  <th scope="row">
                    {{ i + 1 }}
                  </th>
                  <td>{{ isiCategory.kategori_id }}</td>
                  <td>{{ isiCategory.nama_kategori }}</td>
                  <!-- <td> -->
                    <!-- <a href="#"
                      ><img
                        src="{{ isiCategory.categoryImage }}"
                        alt="Category Image"
                        width="70"
                        height="70"
                    /></a> -->
                  <!-- </td> -->
                  <td>
                    <button
                      style="margin-right: 8px"
                      type="button"
                      class="btn btn-outline-primary rounded-pill"
                      data-bs-toggle="modal"
                      (click)="openModal(template)"
                      (click)="doEditModal(isiCategory)"
                    >
                      Edit
                    </button>
                    <ng-template #template>
                      <div class="modal-header">
                        <h5 class="modal-title">Edit Category</h5>
                        <button
                          type="button"
                          class="btn-close"
                          (click)="modalRef?.hide()"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form
                          [formGroup]="formEdit"
                          (ngSubmit)="doEditCategory()"
                          class="row g-3"
                        >
                          <div class="col-md-12">
                            <label for="inputCategoryName" class="form-label"
                              >Category Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="inputCategoryName"
                              placeholder="Input Category Name"
                              formControlName="nama_kategori"
                            />
                          </div>
                          <!-- <div class="col-12">
                            <label for="inputCategoryImage" class="form-label"
                              >Image</label
                            >
                            <input
                              type="file"
                              accept="image/png, image/jpeg, image/gif"
                              class="form-control"
                              id="inputCategoryImage"
                              accept="image/png, image/jpeg, image/gif"
                              (change)="showPreview($event)"
                              placeholder="Input Category Image's link"
                              formControlName="categoryImage"
                              name="categoryImage"
                            />
                            <br />
                            <ng-container *ngIf="categoryDetail.categoryImage">
                              <img
                                [src]="categoryDetail.categoryImage"
                                alt="Category Image"
                                width="200"
                                height="200"
                              />
                            </ng-container>
                          </div> -->

                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              (click)="modalRef?.hide()"
                            >
                              Back
                            </button>
                            <button
                              type="submit"
                              class="btn btn-primary"
                              (click)="modalRef?.hide()"
                            >
                              Save Changes
                            </button>
                          </div>
                        </form>
                      </div>
                    </ng-template>
                    <button
                      type="submit"
                      class="btn btn-outline-danger rounded-pill"
                      data-bs-toggle="modal"
                      (click)="openModal(deleteModal)"
                      (click)="doDeleteModal(isiCategory)"
                    >
                      Delete
                    </button>
                    <ng-template #deleteModal (ngSubmit)="doDeleteCategory()">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Category</h5>
                        <button
                          type="button"
                          class="btn-close"
                          aria-label="Close"
                          (click)="modalRef?.hide()"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <h6>Are you sure you want to delete this category?</h6>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="modalRef?.hide()"
                        >
                          Back
                        </button>
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="modalRef?.hide()"
                          (click)="doDeleteCategory()"
                        >
                          Yes, I'm Sure.
                        </button>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
